* {
  font-family: "Inter";
}

.image {
  position: relative;
  bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  width: auto;
  height: 150px;
  object-fit: cover;
}

.home {
  background: rgb(240, 240, 240);
  clip-path: polygon(0 0%, 100% 0, 100% 85%, 0 100%);
  padding: 5rem;
}

.text {
  position: relative;
  bottom: 40px;
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

.info {
  position: relative;
  bottom: 40px;
  text-align: center;
  font-size: 20px;
  object-fit: contain;
}

.contact {
  background: rgb(240, 240, 240);
  clip-path: polygon(-145% 100%, 100% 0, 100% 100%, 100% 100%);
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.cnt-text {
  text-align: center;
  font-size: 30px;
  position: relative;
  bottom: 15px;
}

.logos {
  height: 6vh;
  display: flex;
  justify-content: center;
}

.work-text {
  text-align: center;
  font-size: 30px;
}

.work_tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
